USE [Books]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 11/29/2024 2:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](70) NOT NULL,
	[Author] [varchar](60) NOT NULL,
	[IsRead] [bit] NULL,
	[YearRead] [int] NULL,
	[Quote] [varchar](1000) NULL,
	[Pages] [smallint] NULL,
	[PreviousFromSeries] [int] NULL,
	[Notes] [varchar](max) NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([ID], [Title], [Author], [IsRead], [YearRead], [Quote], [Pages], [PreviousFromSeries], [Notes]) VALUES (1, N'Mężczyźni, którzy nienawidzą kobiet', N'Stieg Larsson', 0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Book] ([ID], [Title], [Author], [IsRead], [YearRead], [Quote], [Pages], [PreviousFromSeries], [Notes]) VALUES (2, N'Dziewczyna, która igrała z ogniem', N'Stieg Larsson', 0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Book] ([ID], [Title], [Author], [IsRead], [YearRead], [Quote], [Pages], [PreviousFromSeries], [Notes]) VALUES (3, N'Zamek z piasku, który runął', N'Stieg Larsson', 0, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_Book_Title]    Script Date: 11/29/2024 2:18:59 PM ******/
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [ux_Book_Title] UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([PreviousFromSeries])
REFERENCES [dbo].[Book] ([ID])
GO
